{% extends 'navigation3.html' %}
{% load static %}
{% block b %}
<style>
    input[type=text][type=time][type=file]{
    border-radius:8px;
    width:600px;
    height:16px;
    }
</style>
<script>
    // Check if user's staff status is false
    var isStaff = {{ user.is_staff|lower }};
    console.log(isStaff)
    if (!isStaff) {
        // Redirect to the dashboard page
        window.location.href = "{% url 'dashboard' %}";
    }
</script>
{% if  error %}
<script> 
    window.location.href="{% url 'view_train' %}";
</script>
{% endif%}

<div style="color:Black;border:1px solid white;border-radius:8px;background-color:white;padding:50px">

        <h3><strong>Change Train Image</strong></h3><hr>
    <form method="post" action="{% url 'change_image' train.id %}" enctype="multipart/form-data">
        {% csrf_token %}


        Old Image:
        <br><img src ="{{train.img.url}}"  style="border-radius:8px;width:200px;height:150px;">
        &nbsp;
        <br>
New Image:
        <br><input type="file" name="newpic" class="form-control" style="border-radius:8px;width:250px;height:50px;">
        &nbsp;
        <br>

        <input type="submit" value="Update" style="color:white;border-radius:8px;width:100px;height:35px;background-color:#333;border:1px solid black">
    </form>

    </div>




{% endblock %}
